flask>=2.3.2,<2.4
scipy>=1.10.0,<1.11
scikit-learn>=1.2.2,<1.3
numpy>=1.24.3,<1.25
pandas>=2.0.2,<2.1
mysql-connector-python>=8.0.33,<8.1
python-dotenv>=1.0.0,<1.1
matplotlib>=3.7.0,<3.8
seaborn>=0.12.0,<0.13
catboost>=1.2,<1.3
xgboost>=1.7.0,<1.8
mlflow>=2.4.0,<2.5